/* Estilos Generales */
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  text-align: center; }

h2 {
  font-size: 20px;
  color: white;
  padding: 3px;
  margin: 15px; }

p {
  padding: 2px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 26px; }

u {
  color: green; }

* {
  margin: 0;
  padding: 0;
  background-color: black; }

/*EXTEND*/
.main__div1, .main-contactos .main__div2 {
  text-decoration: underline chartreuse;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  color: white; }

.header .navbar-nav {
  max-width: 100%;
  display: flex;
  background-color: grey; }

.header .container-fluid {
  background: grey; }
  .header .container-fluid .collapse {
    background: grey; }

.header nav ul {
  background-color: dimgray;
  padding: 1px; }

.header nav ul li {
  background-color: dimgray;
  color: white;
  display: inline;
  border: 2px solid white;
  padding: 3px;
  margin: 10px;
  width: 300px;
  align-items: center; }
  .header nav ul li .nav-link:hover {
    background-color: #1c271c;
    transition: .1s;
    transform: scale(1.1); }
    .header nav ul li .nav-link:hover .input:focus {
      background-color: #88cfae;
      transform: scale(1.1);
      transition: .2s; }

.main .main__foto {
  width: 610px;
  box-shadow: 1px 7px 10px 4px grey;
  margin: 20px; }

.main .main__foto:hover {
  object-fit: cover;
  opacity: .7;
  transition: .5s ease; }

.main .movimiento {
  cursor: crosshair;
  transform: translate(450px);
  color: white;
  padding: 30px;
  background-color: black;
  transition: 2s;
  font-size: 30px;
  max-width: 50vw; }

.main .movimiento:hover {
  background-color: green;
  font-weight: bold;
  text-align: center;
  transform: scale(1.1);
  max-width: 100vw; }

.main .reset2 {
  cursor: crosshair;
  display: flex;
  padding: 5px;
  width: 20px;
  margin: 20px;
  font-size: 35px; }

.main .suscribete {
  padding: 5px;
  margin: 2px;
  font-size: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: flex-end; }

.main .suscribete:hover {
  color: green; }

.main .input:focus {
  background-color: #88cfae;
  transform: scale(1.1);
  transition: .2s; }

.main .main__div {
  max-width: 100%;
  color: aliceblue;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .main .main__div .index-sub {
    margin: 2px;
    font-size: 22px;
    list-style: none; }

.main .video-index {
  width: 400px;
  height: 315px;
  margin: 20px;
  box-shadow: 1px 7px 10px 4px grey; }

.main .active {
  background-color: #faea00; }

/* Mobile last */
.mobile-last u {
  color: green; }

/* ANCHO MAXIMO  TABLET*/
@media (max-width: 768px) {
  .main .movimiento {
    font-size: 20px;
    width: 100%;
    transform: translate(140px); }
  .main .main__div {
    margin: auto;
    display: block; }
    .main .main__div .index-sub {
      font-size: 18px;
      margin: auto;
      padding: 5px; }
  .main .video-index {
    max-width: 80%;
    width: 390px;
    display: block; }
  .main .main__foto {
    margin: auto;
    width: 320px;
    display: block; }
  u {
    color: #dafa25; }
  .navbar-nav {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly; }
  h1 {
    max-width: 100%;
    font-size: 15px; }
  h2 {
    max-width: 100%;
    font-size: 14px; } }

@media (max-width: 468px) {
  .main .movimiento {
    transform: translate(17px);
    font-size: 17px;
    max-width: 85%;
    margin: 3px; }
  .main .main__div {
    display: block; }
    .main .main__div .index-sub {
      max-width: 100%;
      font-size: 17px;
      margin: auto;
      padding: 5px; }
  .main .video-index {
    max-width: 80%;
    width: 390px;
    display: block; }
  u {
    color: #dafa25; }
  img {
    margin: auto;
    width: 200px;
    display: flex;
    max-width: 90%; }
  .navbar-nav {
    max-width: 100%;
    width: 1780px;
    display: flex;
    justify-content: space-evenly; }
  h1 {
    max-width: 100%;
    font-size: 15px; }
  h2 {
    max-width: 100%;
    font-size: 14px; } }

.footer {
  display: flex;
  background-color: gray;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid gray;
  margin: 25px 0px 0px 0px; }

a {
  color: white; }

.__header .navbar-nav {
  max-width: 100%;
  display: flex;
  background-color: grey; }

.__header .active {
  color: white; }

.__header .container-fluid {
  background: grey; }
  .__header .container-fluid .collapse {
    max-width: 100%;
    background: grey; }

.__header nav ul {
  background-color: dimgray;
  padding: 1px; }

.__header nav ul li {
  background-color: dimgray;
  color: white;
  display: inline;
  border: 2px solid white;
  padding: 3px;
  margin: 10px;
  width: 300px;
  align-items: center; }
  .__header nav ul li .nav-link:hover {
    background-color: #1c271c;
    transition: .1s;
    transform: scale(1); }
    .__header nav ul li .nav-link:hover .input:focus {
      background-color: #88cfae;
      transform: scale(1.1);
      transition: .2s; }

.main_productos img {
  padding: 10px;
  width: 1000px;
  margin: auto;
  display: flex; }

.main_productos ul li {
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  list-style: none; }

.main_productos .lista-productos {
  max-width: 100%;
  font-size: 15px; }

.main_productos .Latas-monster {
  display: flex;
  margin: auto;
  width: 700px;
  height: 260px; }

.main_productos .Latas-monster img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease; }

.main_productos .Latas-monster img:hover {
  cursor: crosshair;
  width: 50px;
  opacity: 1;
  filter: contrast(120%); }

.main_productos .subtitulo {
  text-decoration: underline;
  font-size: 30px;
  margin: 20px; }

.main_productos h2 {
  margin: 20px;
  max-width: 100%; }

.main_productos .calidad {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: 20px; }

.main_productos .reset {
  cursor: crosshair;
  display: flex;
  padding: 5px;
  width: 20px;
  margin: 20px;
  font-size: 35px; }

.footer {
  display: flex;
  max-width: 98vw;
  background-color: gray;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid gray; }

.condicion {
  color: white;
  font-size: 15px; }

/* ANCHO MAXIMO TABLET PRODUCTOS */
@media (max-width: 768px) {
  .main_productos .navbar-nav {
    max-width: 500px; }
  .main_productos img {
    max-width: 100%;
    width: 720px; }
  .main_productos .container-fluid {
    width: 415px; }
  .main_productos u {
    color: #e43ea4; }
  .main_productos .subtitulo {
    font-size: 18px;
    max-width: 100%; }
  .main_productos .calidad {
    font-size: 15px;
    max-width: 100%; }
  .main_productos h2 {
    font-size: 14px;
    max-width: 100%; }
  main ul li {
    width: 70%;
    font-size: 10px;
    margin: auto;
    max-width: 100%;
    font-size: 16px; }
  ul li u {
    max-width: 100%;
    color: #e01313 !important; } }

/* ANCHO MAXIMO MOBILE PRODUCTOS */
@media (max-width: 414px) {
  .main_productos .navbar-nav {
    max-width: 414px;
    max-width: 50vw; }
  .main_productos img {
    max-width: 100%;
    width: 415px; }
  .main_productos .container-fluid {
    width: 415px; }
  .main_productos u {
    color: #e43ea4; }
  .main_productos .subtitulo {
    font-size: 17px;
    max-width: 100%; }
  .main_productos .calidad {
    font-size: 15px;
    max-width: 100%; }
  .main_productos h2 {
    font-size: 15px; }
  ul li {
    width: 100%;
    font-size: 10px;
    max-width: 100%; }
  ul li u {
    font-size: 15px;
    color: #e01313 !important; } }

body {
  background-color: black; }

.header .navbar-nav {
  max-width: 100%;
  display: flex;
  background-color: grey; }

.header .container-fluid {
  background: grey; }
  .header .container-fluid .collapse {
    max-width: 100%;
    background: grey; }

.header nav ul {
  background-color: dimgray;
  padding: 1px; }

.header nav ul li {
  background-color: dimgray;
  color: white;
  display: inline;
  border: 2px solid white;
  padding: 3px;
  margin: 10px;
  width: 300px;
  align-items: center; }
  .header nav ul li .nav-link:hover {
    background-color: #1c271c;
    transition: .1s;
    transform: scale(1); }
    .header nav ul li .nav-link:hover .input:focus {
      background-color: #88cfae;
      transform: scale(1.1);
      transition: .2s; }

.main-gaming-deportes .reset {
  cursor: crosshair;
  display: flex;
  padding: 5px;
  width: 20px;
  margin: 20px;
  font-size: 35px; }

.main-gaming-deportes .video-gaming {
  width: 300px;
  height: 200px;
  margin: 50px;
  box-shadow: 1px 7px 10px 4px grey; }

.main-gaming-deportes .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1px 0px;
  grid-auto-flow: column dense;
  grid-template-areas: "Foto1 Foto2" "Sorteo1 Sorteo2";
  justify-content: space-around;
  max-width: 100%;
  text-align: center; }

.main-gaming-deportes p {
  margin: 25px; }

.Foto1 {
  grid-area: Foto1;
  max-width: 506px;
  margin: 20px;
  box-shadow: 5px 3px 10px 4px #8ce087; }

.Foto2 {
  grid-area: Foto2;
  max-width: 505px;
  margin: 20px;
  box-shadow: 5px 3px 10px 4px #8ce087; }

.Sorteo1 {
  grid-area: Sorteo1;
  max-width: 604px;
  margin: 20px;
  box-shadow: 5px 3px 10px 4px #8ce087; }

.Sorteo2 {
  grid-area: Sorteo2;
  max-width: 567px;
  margin: 20px;
  box-shadow: 5px 3px 10px 4px #8ce087; }

.footer {
  max-width: 100%;
  display: flex;
  background-color: gray;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid gray;
  margin: 25px 0px 0px 0px; }

a {
  color: white; }

/* ANCHO MAXIMO TABLET Gaming-Deportes */
@media (max-width: 768px) {
  .header .nav {
    max-width: 100%; }
  .main-gaming-deportes .subtitulo {
    padding: auto;
    max-width: 88%;
    margin: auto; }
  .main-gaming-deportes p {
    max-width: 79%;
    margin: auto;
    font-size: 15px; }
  .main-gaming-deportes .video-gaming {
    width: 455px;
    height: 260px;
    display: block;
    margin: auto;
    padding: 5px; }
  .main-gaming-deportes .container {
    max-width: 85%;
    display: block;
    padding: 15px; }
  .main-gaming-deportes .container .Foto1 {
    max-width: 495px;
    gap: 5px; }
  .main-gaming-deportes .container .Foto2 {
    max-width: 495px; }
  .main-gaming-deportes .container .Sorteo1 {
    max-width: 495px;
    padding: 15px; }
  .main-gaming-deportes .container .Sorteo2 {
    max-width: 485px; }
  .main-gaming-deportes u {
    color: #1b18c7; }
  .footer {
    max-width: 100%; } }

.mobile-last u {
  color: green; }

/* ANCHO MAXIMO  MOBILE Gaming-Deportes */
@media (max-width: 540px) {
  .main-gaming-deportes .container {
    max-width: 85%;
    display: block;
    padding: 15px;
    margin: 25px; }
  .main-gaming-deportes .subtitulo {
    font-size: 17px; }
  .main-gaming-deportes .video-gaming {
    max-width: 60%;
    height: 200px;
    display: block;
    margin: 25px; }
  .main-gaming-deportes .container .Foto1 {
    max-width: 495px;
    gap: 5px; }
  .main-gaming-deportes .container .Foto2 {
    max-width: 495px; }
  .main-gaming-deportes .container .Sorteo1 {
    max-width: 495px;
    padding: 15px; }
  .main-gaming-deportes .container .Sorteo2 {
    max-width: 485px; }
  .main-gaming-deportes u {
    color: #1b18c7; } }

.main-quienes-somos .informacion {
  margin: 25px;
  font-size: 18px; }

.main-quienes-somos .foto3 {
  display: flex;
  margin: auto;
  width: 500px;
  padding: 7px;
  box-shadow: 5px 7px 5px 7px grey; }

.main-quienes-somos .foto4 {
  display: flex;
  margin: auto;
  width: 500px;
  padding: 5px;
  box-shadow: 5px 7px 5px 7px grey; }

.footer-quienes-somos {
  display: flex;
  max-width: 85%;
  background-color: gray;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid gray; }

a {
  color: white; }

/* ANCHO MAXIMO  TABLET Y MOBILE */
/* ANCHO MAXIMO  TABLET*/
@media (max-width: 768px) {
  .main-quienes-somos .foto3 {
    width: 300px;
    margin: auto;
    display: flex; }
  .main-quienes-somos .foto4 {
    width: 300px;
    margin: auto;
    display: flex; }
  .main-quienes-somos h1 {
    font-size: 15px; }
  .footer-quienes-somos {
    max-width: 100vw; } }

/* ANCHO MAXIMO  MOBILE*/
@media (max-width: 375px) {
  .main-quienes-somos .foto3 {
    width: 170px;
    margin: auto;
    display: flex; }
  .main-quienes-somos .foto4 {
    width: 200px;
    margin: auto;
    display: flex; }
  .main-quienes-somos h1 {
    font-size: 8px; }
  .footer-quienes-somos {
    display: flex;
    max-width: 100vw;
    background-color: gray;
    width: 1822px;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid gray; } }

.main-contactos .transiciones-contacto {
  max-width: 95%;
  transform: translate(15px);
  padding: 5px;
  background-color: black;
  transition: 1.5s;
  font-size: 20px;
  text-decoration: underline color green; }

.main-contactos .formulario {
  margin: auto;
  padding: 10px;
  color: white;
  display: flex;
  font-size: 18px;
  flex-direction: row;
  width: 95%;
  box-shadow: 8px 1px 7px 7px grey;
  justify-content: space-between; }

.main-contactos .main__div1, .main-contactos .main__div2 {
  text-decoration: underline #9aaa8a;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color: white;
  margin: 20px; }

.main-contactos .main__div2 {
  text-decoration: underline #f1c1c1; }

.main-contactos .condiciones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  color: white;
  font-size: 20px; }
  .main-contactos .condiciones .terminos {
    font-size: 25px; }

.main-contactos .texto {
  width: 95%;
  height: 150px;
  padding: 5px;
  margin: 20px;
  text-align: center;
  justify-content: center; }

.main-contactos .input:focus {
  background-color: #88cfae;
  transform: scale(1.1);
  transition: .2s; }

.main-contactos label {
  background: slategrey; }

/* ANCHO MAXIMO  TABLET*/
@media (max-width: 768px) {
  .main-contactos .formulario {
    padding: 5px;
    color: white;
    display: block;
    max-width: 67%;
    margin: auto;
    background: slategrey; }
  .main-contactos .terminos {
    max-width: 90%; }
  .main-contactos .condiciones {
    max-width: 80%;
    margin: auto;
    display: flex;
    padding: 5px; }
  .main-contactos .texto {
    max-width: 85%;
    width: 395px;
    margin: auto;
    display: flex;
    padding: 9px; }
  .main-contactos .transiciones-contacto {
    transform: translate(2px);
    padding: 5px;
    background-color: black;
    transition: 1s;
    font-size: 20px;
    text-decoration: underline color green; }
  .main-contactos .input:focus {
    background-color: #64ed6b;
    transform: scale(1.1);
    transition: .2s; }
  .main-contactos .input {
    margin: 18px; }
  .main-contactos label {
    background: slategrey; }
  .main-contactos u {
    color: #782292; }
  .main-contactos h1 {
    font-size: 16px;
    max-width: 100%; }
  .main-contactos h4 {
    font-size: 14px;
    max-width: 90%; }
  .main-contactos h5 {
    font-size: 14px;
    max-width: 90%; } }

/* ANCHO MAXIMO  MOBILE*/
@media (max-width: 320px) {
  .main-contactos .formulario {
    max-width: 500px;
    font-size: 12px;
    padding: 2px;
    color: white;
    display: block;
    flex-direction: column;
    justify-content: space-around; }
  .main-contactos .titulo-contactos {
    max-width: 80%; }
  .main-contactos .condiciones {
    display: flex;
    max-width: 160px;
    margin: auto; }
  .main-contactos fieldset {
    padding: 10px; }
  .main-contactos .terminos {
    max-width: 100%; }
  .main-contactos .texto {
    max-width: 80%;
    margin: auto;
    display: flex;
    padding: 5px; }
  .main-contactos .transiciones-contacto {
    transform: translate(2px);
    padding: 3px;
    background-color: black;
    transition: 1s;
    font-size: 20px;
    text-decoration: underline color green; }
  .main-contactos .input:focus {
    background-color: #64ed6b;
    transform: scale(1.1);
    transition: .2s;
    margin: 18px; }
  .main-contactos .input {
    margin: 18px; }
  .main-contactos u {
    color: #782292; }
  .main-contactos h1 {
    font-size: 13px;
    max-width: 100%; }
  .main-contactos h4 {
    font-size: 12px;
    max-width: 90%; }
  .main-contactos h5 {
    font-size: 12px;
    max-width: 90%; } }
