.footer{
        .apps {
            list-style: none;
            width: 100%;
            display: flex;
            justify-content: space-around;
            background-color: #676767;
            font-size: 12px;
    
            .fondo {
                background-color: #676767;
            }
        }
    }


a {
    color: white;
    background-color: #676767;
}