body {
    background-color: black;
}

.header {

    .navbar-nav {
        max-width: 100%;
        display: flex;
        background-color: grey;

    }

    .container-fluid {
        background: grey;

        .collapse {
            max-width: 100%;
            background: grey;
        }
    }

    nav ul {
        background-color: dimgray;
        padding: 1px;


    }

    nav ul li {
        background-color: dimgray;
        color: white;
        display: inline;
        border: 2px solid white;
        padding: 3px;
        margin: 10px;
        width: 300px;
        align-items: center;



        .nav-link:hover {
            background-color: rgb(28, 39, 28);
            transition: .1s;
            transform: scale(1.0);


            .input:focus {

                background-color: rgb(136, 207, 174);
                transform: scale(1.1);
                transition: .2s;
            }
        }
    }
}

.main-gaming-deportes {
    .reset {
        cursor: crosshair;
        display: flex;
        padding: 5px;
        width: 20px;
        margin: 20px;
        font-size: 35px;
        background-color: black;
    }

    .video-gaming {
        width: 300px;
        height: 230px;
        margin: 50px;
        box-shadow: 1px 7px 10px 4px grey;
    }

    .container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 1px 0px;
        grid-auto-flow: column dense;
        grid-template-areas:
            "Foto1 Foto2"
            "Sorteo1 Sorteo2";
        justify-content: space-around;
        max-width: 100%;
        text-align: center;
    }

    p {
        margin: 25px;
    }
}


.Foto1 {
    grid-area: Foto1;
    max-width: 506px;
    margin: 20px;
    box-shadow: 5px 3px 10px 4px #8ce087;
}


.Foto2 {
    grid-area: Foto2;
    max-width: 505px;
    margin: 20px;
    box-shadow: 5px 3px 10px 4px #8ce087;
}

.Sorteo1 {
    grid-area: Sorteo1;
    max-width: 604px;
    margin: 20px;
    box-shadow: 5px 3px 10px 4px #8ce087;
}

.Sorteo2 {
    grid-area: Sorteo2;
    max-width: 567px;
    margin: 20px;
    box-shadow: 5px 3px 10px 4px #8ce087;
}





.footer {
    display: flex;
    background-color: gray;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 5px solid gray;
    margin: 25px 0px 0px;
}


a {
    color: white;
    margin: 5px;
}





/* ANCHO MAXIMO TABLET Gaming-Deportes */
@media (max-width: 768px) {

    .header {
        .nav {
            max-width: 100%;
        }
    }

    .main-gaming-deportes {

        .subtitulo {
            padding: auto;
            max-width: 88%;
            margin: auto;
        }

        p {
            max-width: 79%;
            margin: auto;
            font-size: 15px;
        }

        .video-gaming {
            width: 455px;
            height: 260px;
            display: block;
            margin: auto;
            padding: 5px;
        }

        .container {
            max-width: 85%;
            display: block;
            padding: 15px;
        }

        .container {
            .Foto1 {
                max-width: 495px;
                gap: 5px;
            }

            .Foto2 {
                max-width: 495px;
            }

            .Sorteo1 {
                max-width: 495px;
                padding: 15px;
            }

            .Sorteo2 {
                max-width: 485px;
            }

        }

        u {
            color: $monster-blue;
        }
    }

    .footer {
        max-width: 100%;
    }
}


// MOBILE LAST
.mobile-last {
    u {
        color: green;
    }
}

/* ANCHO MAXIMO  MOBILE Gaming-Deportes */
@media (max-width: 540px) {

    .main-gaming-deportes {
        .container {
            max-width: 85%;
            display: block;
            padding: 15px;
            margin: 25px;
        }

        .subtitulo {
            font-size: 17px;
        }


        .video-gaming {

            max-width: 60%;
            height: 200px;
            display: block;
            margin: 25px;
        }


        .container {
            .Foto1 {
                max-width: 495px;
                gap: 5px;
            }

            .Foto2 {
                max-width: 495px;
            }

            .Sorteo1 {
                max-width: 495px;
                padding: 15px;
            }

            .Sorteo2 {
                max-width: 485px;
            }

        }

        u {
            color: $monster-blue;
        }
    }
    .footer {
        display: block;
        .apps {
            list-style: none;
            width: 85%;
            display: flex;
            margin: auto;
            background-color: #676767;
            font-size: 12px;
            justify-content: flex-start;
            justify-content: space-around;
            .fondo {
                background-color: #676767;
            }
        }
    }


}