.header{

    .navbar-nav{
        width: 1770px;
        display: flex;
        justify-content: space-evenly;
        background-color: grey;
    
    }
    .container-fluid{
        background: grey;
        .collapse{
            background: grey;
        }
    }
    nav ul {
        background-color: dimgray;
        padding: 1px ;
    
    
    }
    
    nav ul li {
        background-color: dimgray;
        color: white;
        display: inline;
        border: 2px solid white;
        padding: 3px;
        margin: 10px;
        width: 300px;
        align-items: center;
    

        .nav-link:hover{
            background-color: rgb(28, 39, 28);
            transition:.1s;
            transform: scale(1.1);
        
        
        .input:focus{
        
        background-color: rgb(136, 207, 174);
        transform: scale(1.1);
        transition: .2s;}
        }
    }
}
