.__header {

    .navbar-nav {
        max-width: 100%;
        display: flex;
        background-color: grey;

    }

    .active {
        color: white;
    }

    .container-fluid {
        background: grey;

        .collapse {
            max-width: 100%;
            background: grey;
        }
    }


    nav ul {
        background-color: dimgray;
        padding: 1px;



    }

    nav ul li {
        background-color: dimgray;
        color: white;
        display: inline;
        border: 2px solid white;
        padding: 3px;
        margin: 10px;
        width: 300px;
        align-items: center;



        .nav-link:hover {
            background-color: rgb(28, 39, 28);
            transition: .1s;
            transform: scale(1.0);


            .input:focus {

                background-color: rgb(136, 207, 174);
                transform: scale(1.1);
                transition: .2s;
            }
        }
    }
}

.main_productos {

    img {
        padding: 10px;
        width: 1000px;
        margin: auto;
        display: flex;

    }


    ul li {
        color: white;
        font-size: 20px;
        padding: 5px;
        margin: 10px;
        list-style: none;
    }

    .lista-productos {
        width: 500px;
    }

    .subtitulo {
        text-decoration: underline;
        font-size: 30px;
        margin: 20px;
    }

    h2 {
        margin: 20px;
        max-width: 100%;
    }

    .calidad {
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        font-size: 20px;

    }

    .reset {
        cursor: crosshair;
        display: flex;
        padding: 5px;
        width: 20px;
        margin: 20px;
        font-size: 35px;

    }
}

.footer {
    display: flex;
    max-width: 98vw;
    background-color: gray;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid gray;
}

.condicion {
    color: white;
    font-size: 15px;
}


// MOBILE-LAST

/* ANCHO MAXIMO TABLET PRODUCTOS */

@media (max-width: 768px) {

    .main_productos {
        .navbar-nav {
            max-width: 500px;
        }

        img {
            max-width: 100%;
            width: 720px;
        }

        .container-fluid {
            width: 415px;
        }

        u {
            color: $monster-fuchsia;
        }

        .subtitulo {
            font-size: 18px;
            max-width: 100%;
        }

        .calidad {
            font-size: 15px;
            max-width: 100%;
        }

        h2 {
            font-size: 14px;
            max-width: 100%;
        }
    }

    main ul li {
        width: 70%;
        font-size: 10px;
        margin: auto;
        max-width: 100%;
        font-size: 16px;
    }

    ul li u {
        max-width: 100%;
        color: $monster-red !important;
    }


}





/* ANCHO MAXIMO MOBILE PRODUCTOS */

@media (max-width: 414px) {

    .main_productos {
        .navbar-nav {
            max-width: 414px;
            max-width: 50vw;
        }

        img {
            max-width: 100%;
            width: 415px;
        }

        .container-fluid {
            width: 415px;
        }

        u {
            color: $monster-fuchsia;
        }

        .subtitulo {
            font-size: 17px;
            max-width: 100%;
        }

        .calidad {
            font-size: 15px;
            max-width: 100%;
        }

        h2 {
            font-size: 15px;
        }
    }

    ul li {
        width: 100%;
        font-size: 10px;
        max-width: 100%;
    }

    ul li u {
        font-size: 15px;
        color: $monster-red !important;
    }

}