.header {

    .navbar-nav {
        width: 1800px;
        display: flex;
        justify-content: space-evenly;
        background-color: grey;

    }

    nav ul {
        background-color: dimgray;
        padding: 1px;


    }

    nav ul li {
        background-color: dimgray;
        color: white;
        display: inline;
        border: 2px solid white;
        padding: 3px;
        margin: 10px;
        width: 300px;
        align-items: center;


        .nav-link:hover {
            background-color: rgb(28, 39, 28);
            transition: .1s;
            transform: scale(1.1);


            .input:focus {

                background-color: rgb(136, 207, 174);
                transform: scale(1.1);
                transition: .2s;
            }
        }
    }
}

.main-gaming-deportes {
    .container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 1px 0px;
        grid-auto-flow: column dense;
        grid-template-areas:
            "Foto1 Foto2"
            "Sorteo1 Sorteo2";
        justify-content: space-around;
        max-width: 100vw;
        text-align: center;
    }
}


.Foto1 {
    grid-area: Foto1;
}

.Foto2 {
    grid-area: Foto2;
}

.Sorteo1 {
    grid-area: Sorteo1;
}

.Sorteo2 {
    grid-area: Sorteo2;
    max-width: 640px;
}





.footer {
    display: flex;
    max-width: 100vw;
    background-color: gray;
    width: 1825px;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid gray;
}

a {
    color: white;
}



// MOBILE LAST
.mobile-last {
    u {
        color: green;
    }
}

/* ANCHO MAXIMO  Gaming-Deportes */
@media (max-width: 540px) {

    .main-gaming-deportes .container{
        display: block;
        padding: 15px;
    }
    .container {
        .Foto1 {
            max-width: 495px;
            gap: 5px;
        }

        .Foto2 {
            max-width: 495px;
        }
        
        .Sorteo1{
            max-width: 495px;
            padding: 15px;
        }

        .Sorteo2{
            max-width: 485px;
        }

    }

    u {
        color: rgb(136, 207, 174)
    }





}