 /*EXTEND*/

 .main__div1 {
     text-decoration: underline chartreuse;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 24px;
     color: white;
 }


 @mixin flexible ($dis, $direction, $just, $align) {
     display: $dis;
     flex-direction: $direction;
     justify-content: $just ;
     align-items: $align;
 }