/* Estilos Generales */

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: white;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: white;
    padding: 3px;
}



p {
    padding: 2px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 26px;
}
u {
    color: green;
}